@import url("https://fonts.googleapis.com/css?family=Barlow:400,500,600,700|Karla:400,400i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Barlow:400,500,600,700|Karla:400,400i,700,700i&display=swap");
body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Karla', sans-serif;
  color: #404040; }

h1 {
  font-size: 36px !important;
  font-weight: 600 !important; }

h2 {
  font-size: 30px !important;
  font-weight: 600 !important; }

p {
  color: #808080; }

a {
  font-family: 'Karla', sans-serif; }

#dashboard {
  position: relative; }
  #dashboard .side-menu {
    position: fixed;
    left: 0px;
    height: 100vh;
    width: 145px;
    background-color: #00877a; }
    #dashboard .side-menu-list-sticky {
      min-height: 80px;
      text-align: center; }
    #dashboard .side-menu-list-menu-listings {
      padding-left: 0px;
      margin-bottom: 0px;
      list-style: none; }
      #dashboard .side-menu-list-menu-listings .menu-item {
        min-height: 100px;
        text-align: center; }
        #dashboard .side-menu-list-menu-listings .menu-item-name {
          margin-bottom: 0px;
          font-size: 12px;
          color: #ffffff; }
        #dashboard .side-menu-list-menu-listings .menu-item:hover {
          cursor: pointer;
          background-color: #16ad9e; }
  #dashboard .content {
    background-color: #f4f4f4;
    height: 100%;
    margin-left: 145px; }
    #dashboard .content .top-bar {
      background-color: #ffffff;
      position: fixed;
      top: 0px;
      width: 90%;
      z-index: 1; }
      #dashboard .content .top-bar-search {
        text-align: right;
        padding: 10px 30px; }
        #dashboard .content .top-bar-search .field-input {
          border-top: none;
          border-right: none;
          border-bottom: none;
          height: 45px;
          box-shadow: none;
          padding: 10px 20px 10px 25px;
          border-color: #dfdfdf;
          border-width: 1px;
          font-size: 16px;
          color: #404040;
          font-family: 'Karla', sans-serif; }
          #dashboard .content .top-bar-search .field-input:hover, #dashboard .content .top-bar-search .field-input:focus, #dashboard .content .top-bar-search .field-input:active {
            outline: none; }
    #dashboard .content .bottom-bar {
      background-color: #ffffff;
      padding: 20px 30px;
      position: fixed;
      bottom: 0px;
      width: 90%; }
      #dashboard .content .bottom-bar .copyright {
        margin-bottom: 0px;
        font-size: 16px; }
    #dashboard .content .content-area {
      padding: 100px 40px 120px; }
      #dashboard .content .content-area .page-title {
        margin-bottom: 20px; }
      #dashboard .content .content-area .profile-box {
        background-color: #ffffff;
        padding: 40px;
        margin-bottom: 30px; }
        #dashboard .content .content-area .profile-box .button {
          height: 50px;
          border: none;
          padding: 10px 20px;
          border-radius: 5px;
          color: #ffffff;
          font-size: 16px;
          font-family: 'Karla', sans-serif;
          font-weight: 600; }
          #dashboard .content .content-area .profile-box .button.btn-general {
            background-color: #44b265; }
          #dashboard .content .content-area .profile-box .button:hover {
            background-color: #16ad9e; }
        #dashboard .content .content-area .profile-box .image-profile {
          width: 100px;
          height: 100px;
          border: 1px solid #dfdfdf;
          border-radius: 50%;
          display: inline-block;
          padding: 7px;
          text-align: center; }
          #dashboard .content .content-area .profile-box .image-profile img {
            width: 100px;
            height: auto; }
      #dashboard .content .content-area .dashboard-feature {
        margin-bottom: 30px; }
        #dashboard .content .content-area .dashboard-feature .box-feature {
          min-height: 300px;
          background-color: #ffffff;
          padding: 45px; }
      #dashboard .content .content-area .dashboard-cta-commission {
        padding: 20px;
        background-color: #00877a; }
        #dashboard .content .content-area .dashboard-cta-commission .cta-desc {
          color: #96cec9; }
      #dashboard .content .content-area .dashboard-cta-upgrade {
        padding: 20px;
        background-color: #44b265; }
        #dashboard .content .content-area .dashboard-cta-upgrade .cta-desc {
          color: #ffffff; }
      #dashboard .content .content-area .dashboard-cta .cta-title {
        color: #ffffff;
        font-family: 'Karla', sans-serif;
        font-size: 30px; }
      #dashboard .content .content-area .dashboard-cta .button.btn-small {
        height: 42px;
        border: none;
        background-color: #ffcc00;
        font-size: 12px;
        min-width: 134px;
        border-radius: 5px;
        color: #00877a;
        font-weight: 600;
        font-family: 'Karla', sans-serif; }

#Register .register-box {
  display: flex; }
  #Register .register-box-half {
    flex: 0 0 50%;
    position: relative;
    height: 100vh; }
    #Register .register-box-half-centered {
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
      width: 400px; }
    #Register .register-box-half.green-area {
      background: #077d72;
      background: linear-gradient(315deg, #077d72 0%, #3fae66 100%);
      text-align: center; }
      #Register .register-box-half.green-area .register-green-area {
        background-image: url("../img/silhuetayo.png");
        background-position: 0px 0px;
        background-repeat: no-repeat;
        background-size: contain;
        height: 55%;
        width: 100%;
        position: absolute;
        transform: translate(-42%, -50%);
        top: 65%;
        left: 50%; }
      #Register .register-box-half.green-area .logo-ayo {
        margin-bottom: 50px; }
      #Register .register-box-half.green-area .register-text {
        color: #ffffff;
        font-family: 'Barlow', sans-serif;
        font-weight: 400 !important;
        margin-bottom: 30px; }
      #Register .register-box-half.green-area .register-desc {
        margin-bottom: 0px;
        font-family: 'Barlow', sans-serif;
        font-weight: 400 !important;
        font-size: 12px;
        color: #ffffff; }
    #Register .register-box-half.form-area {
      background-color: #ffffff; }
      #Register .register-box-half.form-area .register-form-title {
        font-family: 'Karla', sans-serif;
        color: #404040;
        margin-bottom: 30px; }
      #Register .register-box-half.form-area .register-form form.registration label {
        font-family: 'Karla', sans-serif;
        font-size: 14px;
        color: #808080;
        margin-bottom: 0px; }
      #Register .register-box-half.form-area .register-form form.registration .form-control {
        border-width: 0px 0px 1px 0px;
        border-color: #808080;
        border-radius: 0px; }
        #Register .register-box-half.form-area .register-form form.registration .form-control:active, #Register .register-box-half.form-area .register-form form.registration .form-control:focus {
          outline: none;
          box-shadow: none; }
      #Register .register-box-half.form-area .register-form form.registration .button {
        margin-bottom: 20px; }
        #Register .register-box-half.form-area .register-form form.registration .button.btn-submit {
          background-color: #44b265;
          width: 100%;
          box-shadow: none;
          border: none;
          border-radius: 5px;
          height: 40px;
          color: #ffffff;
          font-family: 'Karla', sans-serif;
          font-weight: 600;
          width: 100%; }
          #Register .register-box-half.form-area .register-form form.registration .button.btn-submit:hover {
            background-color: #00877a; }
      #Register .register-box-half.form-area .register-form .login-link {
        display: block;
        text-align: center;
        font-family: 'Karla', sans-serif;
        font-size: 16px;
        color: #44b265; }

#Login .login-box {
  display: flex; }
  #Login .login-box-half {
    flex: 0 0 50%;
    position: relative;
    height: 100vh; }
    #Login .login-box-half-centered {
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
      width: 400px; }
    #Login .login-box-half.green-area {
      background: #077d72;
      background: linear-gradient(315deg, #077d72 0%, #3fae66 100%);
      text-align: center; }
      #Login .login-box-half.green-area .login-green-area {
        background-image: url("../img/silhuetayo.png");
        background-position: 0px 0px;
        background-repeat: no-repeat;
        background-size: contain;
        height: 55%;
        width: 100%;
        position: absolute;
        transform: translate(-42%, -50%);
        top: 65%;
        left: 50%; }
      #Login .login-box-half.green-area .logo-ayo {
        margin-bottom: 50px; }
      #Login .login-box-half.green-area .login-text {
        color: #ffffff;
        font-family: 'Barlow', sans-serif;
        font-weight: 400 !important;
        margin-bottom: 30px; }
      #Login .login-box-half.green-area .login-desc {
        margin-bottom: 0px;
        font-family: 'Barlow', sans-serif;
        font-weight: 400 !important;
        font-size: 12px;
        color: #ffffff; }
    #Login .login-box-half.form-area {
      background-color: #ffffff; }
      #Login .login-box-half.form-area .login-form-title {
        font-family: 'Karla', sans-serif;
        color: #404040;
        margin-bottom: 30px; }
      #Login .login-box-half.form-area .login-form form.login-form label {
        font-family: 'Karla', sans-serif;
        font-size: 14px;
        color: #808080;
        margin-bottom: 0px; }
      #Login .login-box-half.form-area .login-form form.login-form .form-control {
        border-width: 0px 0px 1px 0px;
        border-color: #808080;
        border-radius: 0px; }
        #Login .login-box-half.form-area .login-form form.login-form .form-control:active, #Login .login-box-half.form-area .login-form form.login-form .form-control:focus {
          outline: none;
          box-shadow: none; }
      #Login .login-box-half.form-area .login-form form.login-form .button {
        margin-bottom: 20px; }
        #Login .login-box-half.form-area .login-form form.login-form .button.btn-submit {
          background-color: #44b265;
          width: 100%;
          box-shadow: none;
          border: none;
          border-radius: 5px;
          height: 40px;
          color: #ffffff;
          font-family: 'Karla', sans-serif;
          font-weight: 600;
          width: 100%; }
          #Login .login-box-half.form-area .login-form form.login-form .button.btn-submit:hover {
            background-color: #00877a; }
      #Login .login-box-half.form-area .login-form .forget-area .text-link {
        display: block;
        text-align: center;
        font-family: 'Karla', sans-serif;
        font-size: 16px;
        color: #44b265; }
      #Login .login-box-half.form-area .login-form .forget-area .divider {
        position: relative;
        font-family: 'Karla', sans-serif;
        text-align: center;
        margin: 25px 0px; }
        #Login .login-box-half.form-area .login-form .forget-area .divider .hr {
          height: 1px;
          width: 100%;
          background-color: #e6e6e6;
          display: block;
          position: absolute;
          bottom: 9px;
          z-index: -1; }
        #Login .login-box-half.form-area .login-form .forget-area .divider .or {
          display: inline-block;
          background-color: #ffffff;
          padding: 0px 10px;
          color: #808080;
          font-size: 14px; }

body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Karla', sans-serif;
  color: #404040; }

h1 {
  font-size: 36px !important;
  font-weight: 600 !important; }

h2 {
  font-size: 30px !important;
  font-weight: 600 !important; }

p {
  color: #808080; }

a {
  font-family: 'Karla', sans-serif; }

#Profile.content-area h2.page-title.profile {
  margin-bottom: 30px; }
#Profile.content-area .profile-page {
  background-color: #ffffff; }
  #Profile.content-area .profile-page ul.nav.nav-tabs {
    text-align: center;
    display: block; }
    #Profile.content-area .profile-page ul.nav.nav-tabs li.nav-item {
      display: inline-block;
      margin-bottom: 0px;
      width: 16%; }
      #Profile.content-area .profile-page ul.nav.nav-tabs li.nav-item .nav-link {
        color: #404040;
        font-family: 'Karla', sans-serif;
        font-weight: 600;
        border-width: 0px 0px 1px 0px;
        padding: 15px; }
        #Profile.content-area .profile-page ul.nav.nav-tabs li.nav-item .nav-link.active {
          border-color: #00877a; }
  #Profile.content-area .profile-page .tab-content {
    padding: 30px 20px 40px 20px; }
    #Profile.content-area .profile-page .tab-content .profile-page-password {
      width: 47%;
      margin: 0 auto; }
      #Profile.content-area .profile-page .tab-content .profile-page-password-now-title {
        font-size: 18px;
        margin-bottom: 25px; }
      #Profile.content-area .profile-page .tab-content .profile-page-password .profile-password-form-now {
        margin-bottom: 30px; }
      #Profile.content-area .profile-page .tab-content .profile-page-password label {
        font-family: 'Karla', sans-serif;
        font-size: 14px;
        color: #808080;
        margin-bottom: 0px; }
      #Profile.content-area .profile-page .tab-content .profile-page-password .form-control {
        border-radius: 0px;
        border-width: 0px 0px 1px 0px;
        box-shadow: none;
        padding: 5px 0px; }
      #Profile.content-area .profile-page .tab-content .profile-page-password .button-area .button.btn-submit {
        background-color: #44b265;
        border: none;
        color: #ffffff;
        font-family: 'Karla', sans-serif;
        font-weight: 600;
        height: 40px;
        padding: 0px 40px;
        border-radius: 5px; }
        #Profile.content-area .profile-page .tab-content .profile-page-password .button-area .button.btn-submit:hover {
          background-color: #00877a; }
      #Profile.content-area .profile-page .tab-content .profile-page-password.profile-page-rekening .info-bar-form {
        background-color: #f4f4f4;
        border: 1px solid #dddddd;
        padding: 16px;
        border-radius: 5px; }
        #Profile.content-area .profile-page .tab-content .profile-page-password.profile-page-rekening .info-bar-form p {
          margin-bottom: 5px; }
          #Profile.content-area .profile-page .tab-content .profile-page-password.profile-page-rekening .info-bar-form p.user-name {
            margin-bottom: 0px;
            font-weight: 600;
            color: #404040; }

/*# sourceMappingURL=style.css.map */
