@import url("https://fonts.googleapis.com/css?family=Barlow:400,500,600,700|Karla:400,400i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Barlow:400,500,600,700|Karla:400,400i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Barlow:400,500,600,700|Karla:400,400i,700,700i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Barlow:400,500,600,700|Karla:400,400i,700,700i&display=swap");
body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Karla', sans-serif;
  color: #404040; }

h1 {
  font-size: 36px !important;
  font-weight: 600 !important; }

h2 {
  font-size: 30px !important;
  font-weight: 600 !important; }

p {
  color: #808080; }

a {
  font-family: 'Karla', sans-serif; }

#dashboard {
  position: relative; }
  #dashboard i.icon {
    display: inline-block;
    width: 36px;
    height: 37px;
    background-color: #ffffff;
    -webkit-mask-size: cover;
    mask-size: cover; }
    #dashboard i.icon.ic-sticky-logo {
      background-image: url("../img/stickyLogo.png");
      background-repeat: no-repeat;
      width: 43px;
      height: 36px;
      background-color: transparent; }
    #dashboard i.icon.ic-search {
      -webkit-mask: url("../img/Icon_Search.svg") no-repeat 50% 50%;
      mask: url("../img/Icon_Search.svg") no-repeat 50% 50%;
      background-color: #44b265; }
    #dashboard i.icon.ic-dashboard {
      -webkit-mask: url("../img/Icon_Dashboard.svg") no-repeat 50% 50%;
      mask: url("../img/Icon_Dashboard.svg") no-repeat 50% 50%; }
    #dashboard i.icon.ic-profile {
      -webkit-mask: url("../img/Icon_Profile.svg") no-repeat 50% 50%;
      mask: url("../img/Icon_Profile.svg") no-repeat 50% 50%; }
    #dashboard i.icon.ic-afiliasi {
      -webkit-mask: url("../img/Icon_Afiliate.svg") no-repeat 50% 50%;
      mask: url("../img/Icon_Afiliate.svg") no-repeat 50% 50%; }
    #dashboard i.icon.ic-komisi {
      -webkit-mask: url("../img/Icon_Komisi.svg") no-repeat 50% 50%;
      mask: url("../img/Icon_Komisi.svg") no-repeat 50% 50%; }
    #dashboard i.icon.ic-training {
      -webkit-mask: url("../img/Icon_Training.svg") no-repeat 50% 50%;
      mask: url("../img/Icon_Training.svg") no-repeat 50% 50%; }
    #dashboard i.icon.ic-update {
      -webkit-mask: url("../img/Icon_Update.svg") no-repeat 50% 50%;
      mask: url("../img/Icon_Update.svg") no-repeat 50% 50%; }
    #dashboard i.icon.ic-shop {
      -webkit-mask: url("../img/Icon_Shop.svg") no-repeat 50% 50%;
      mask: url("../img/Icon_Shop.svg") no-repeat 50% 50%; }
    #dashboard i.icon.ic-logout {
      -webkit-mask: url("../img/Icon_Logout.svg") no-repeat 50% 50%;
      mask: url("../img/Icon_Logout.svg") no-repeat 50% 50%; }
    #dashboard i.icon.icon-large-training {
      -webkit-mask: url("../img/Icon_Large_Training.svg") no-repeat 50% 50%;
      mask: url("../img/Icon_Large_Training.svg") no-repeat 50% 50%;
      width: 150px;
      height: 150px;
      background-color: #44b265; }
    #dashboard i.icon.icon-large-affiliate {
      -webkit-mask: url("../img/Icon_Large_Affiliasi.svg") no-repeat 50% 50%;
      mask: url("../img/Icon_Large_Affiliasi.svg") no-repeat 50% 50%;
      width: 150px;
      height: 150px;
      background-color: #44b265; }
    #dashboard i.icon.icon-large-komisi {
      -webkit-mask: url("../img/Icon_Large_Komisi.svg") no-repeat 50% 50%;
      mask: url("../img/Icon_Large_Komisi.svg") no-repeat 50% 50%;
      width: 150px;
      height: 150px;
      background-color: #44b265; }
    #dashboard i.icon.icon-blueprint {
      -webkit-mask: url("../img/Icon_Bluprint.svg") no-repeat 50% 50%;
      mask: url("../img/Icon_Bluprint.svg") no-repeat 50% 50%;
      width: 65px;
      height: 82px; }
    #dashboard i.icon.ic-withdrawal {
      background-image: url("../img/icon_withdrawal.png");
      background-repeat: no-repeat;
      width: 48px;
      height: 37px;
      background-color: transparent; }
    #dashboard i.icon.ic-upgrade {
      background-image: url("../img/icon_upgrade.png");
      background-repeat: no-repeat;
      width: 48px;
      height: 45px;
      background-color: transparent; }
  #dashboard .side-menu {
    position: fixed;
    left: 0px;
    height: 100vh;
    width: 120px;
    background-color: #00877a; }
    #dashboard .side-menu-list-sticky {
      min-height: 75px;
      text-align: center;
      background-color: #00776c;
      padding: 16px; }
    #dashboard .side-menu-list-menu-listings {
      padding-left: 0px;
      margin-bottom: 0px;
      list-style: none; }
      #dashboard .side-menu-list-menu-listings .menu-item {
        min-height: 80px;
        text-align: center;
        position: relative; }
        #dashboard .side-menu-list-menu-listings .menu-item::after {
          content: '';
          height: 1px;
          width: 60px;
          background-color: #16ad9e;
          position: absolute;
          bottom: 0px;
          left: 25%; }
        #dashboard .side-menu-list-menu-listings .menu-item:last-child::after {
          content: none; }
        #dashboard .side-menu-list-menu-listings .menu-item a {
          display: block;
          padding: 12px; }
          #dashboard .side-menu-list-menu-listings .menu-item a.active {
            min-height: 80px;
            background-color: #13ad9e; }
        #dashboard .side-menu-list-menu-listings .menu-item p {
          margin-bottom: 0px; }
        #dashboard .side-menu-list-menu-listings .menu-item-name {
          margin-bottom: 0px;
          font-size: 12px;
          color: #ffffff; }
        #dashboard .side-menu-list-menu-listings .menu-item:hover {
          cursor: pointer;
          background-color: #16ad9e; }
        #dashboard .side-menu-list-menu-listings .menu-item a:hover {
          text-decoration: none; }
  #dashboard .content {
    background-color: #f4f4f4;
    height: 100%;
    margin-left: 120px; }
    #dashboard .content .top-bar {
      background-color: #ffffff;
      position: fixed;
      top: 0px;
      width: 92%;
      z-index: 1; }
      #dashboard .content .top-bar-search {
        text-align: right;
        padding: 10px 30px; }
        #dashboard .content .top-bar-search a {
          display: inline-block;
          position: relative;
          top: 10px; }
        #dashboard .content .top-bar-search .field-input {
          border-top: none;
          border-right: none;
          border-bottom: none;
          height: 45px;
          box-shadow: none;
          padding: 10px 20px 10px 25px;
          border-color: #dfdfdf;
          border-width: 1px;
          font-size: 16px;
          color: #404040;
          font-family: 'Karla', sans-serif; }
          #dashboard .content .top-bar-search .field-input:hover, #dashboard .content .top-bar-search .field-input:focus, #dashboard .content .top-bar-search .field-input:active {
            outline: none; }
    #dashboard .content .bottom-bar {
      background-color: #ffffff;
      padding: 20px 30px;
      position: fixed;
      bottom: 0px;
      width: 92%; }
      #dashboard .content .bottom-bar .copyright {
        margin-bottom: 0px;
        font-size: 16px; }
    #dashboard .content .content-area {
      padding: 100px 40px 120px;
      min-height: 100vh; }
      #dashboard .content .content-area .page-title {
        margin-bottom: 20px; }
      #dashboard .content .content-area .profile-box {
        background-color: #ffffff;
        padding: 40px;
        margin-bottom: 30px; }
        #dashboard .content .content-area .profile-box .button {
          height: 50px;
          border: none;
          padding: 15px 20px;
          border-radius: 5px;
          color: #ffffff;
          font-size: 16px;
          font-family: 'Karla', sans-serif;
          font-weight: 600;
          text-decoration: none; }
          #dashboard .content .content-area .profile-box .button.btn-general {
            background-color: #44b265; }
          #dashboard .content .content-area .profile-box .button:hover {
            background-color: #16ad9e; }
        #dashboard .content .content-area .profile-box .image-profile {
          width: 100px;
          height: 100px;
          border: 1px solid #dfdfdf;
          border-radius: 50%;
          display: inline-block;
          padding: 7px;
          text-align: center; }
          #dashboard .content .content-area .profile-box .image-profile img {
            width: 100px;
            height: auto; }
      #dashboard .content .content-area .dashboard-feature {
        margin-bottom: 30px; }
        #dashboard .content .content-area .dashboard-feature .box-feature {
          min-height: 300px;
          background-color: #ffffff;
          padding: 45px; }
      #dashboard .content .content-area .dashboard-cta-commission {
        padding: 24px;
        background-color: #00877a;
        min-height: 192px; }
        #dashboard .content .content-area .dashboard-cta-commission .cta-desc {
          color: #96cec9; }
      #dashboard .content .content-area .dashboard-cta-upgrade {
        background-position: -37px 6px;
        padding: 45px;
        background-color: #44b265;
        background-image: url("../img/Icon_Upgrade.svg");
        background-repeat: no-repeat;
        background-size: inherit;
        min-height: 192px; }
        #dashboard .content .content-area .dashboard-cta-upgrade .cta-desc {
          color: #ffffff; }
      #dashboard .content .content-area .dashboard-cta .cta-title {
        color: #ffffff;
        font-family: 'Karla', sans-serif;
        font-size: 25px !important; }
      #dashboard .content .content-area .dashboard-cta .button.btn-small {
        height: 42px;
        border: none;
        background-color: #ffcc00;
        font-size: 12px;
        min-width: 134px;
        border-radius: 5px;
        color: #00877a;
        font-weight: 600;
        font-family: 'Karla', sans-serif; }

#Register .register-box {
  display: flex; }
  #Register .register-box-half {
    flex: 0 0 50%;
    position: relative;
    height: 100vh; }
    #Register .register-box-half-centered {
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
      width: 400px; }
    #Register .register-box-half.green-area {
      background: #077d72;
      background: linear-gradient(315deg, #077d72 0%, #3fae66 100%);
      text-align: center; }
      #Register .register-box-half.green-area .register-green-area {
        background-image: url("../img/silhuetayo.png");
        background-position: 0px 0px;
        background-repeat: no-repeat;
        background-size: contain;
        height: 55%;
        width: 100%;
        position: absolute;
        transform: translate(-42%, -50%);
        top: 65%;
        left: 50%; }
      #Register .register-box-half.green-area .logo-ayo {
        margin-bottom: 50px; }
      #Register .register-box-half.green-area .register-text {
        color: #ffffff;
        font-family: 'Barlow', sans-serif;
        font-weight: 400 !important;
        margin-bottom: 30px; }
      #Register .register-box-half.green-area .register-desc {
        margin-bottom: 0px;
        font-family: 'Barlow', sans-serif;
        font-weight: 400 !important;
        font-size: 12px;
        color: #ffffff; }
    #Register .register-box-half.form-area {
      background-color: #ffffff; }
      #Register .register-box-half.form-area .register-form-title {
        font-family: 'Karla', sans-serif;
        color: #404040;
        margin-bottom: 30px; }
      #Register .register-box-half.form-area .register-form form.registration label {
        font-family: 'Karla', sans-serif;
        font-size: 14px;
        color: #808080;
        margin-bottom: 0px; }
      #Register .register-box-half.form-area .register-form form.registration .form-control {
        border-width: 0px 0px 1px 0px;
        border-color: #808080;
        border-radius: 0px; }
        #Register .register-box-half.form-area .register-form form.registration .form-control:active, #Register .register-box-half.form-area .register-form form.registration .form-control:focus {
          outline: none;
          box-shadow: none; }
      #Register .register-box-half.form-area .register-form form.registration .button {
        margin-bottom: 20px; }
        #Register .register-box-half.form-area .register-form form.registration .button.btn-submit {
          background-color: #44b265;
          width: 100%;
          box-shadow: none;
          border: none;
          border-radius: 5px;
          height: 40px;
          color: #ffffff;
          font-family: 'Karla', sans-serif;
          font-weight: 600;
          width: 100%; }
          #Register .register-box-half.form-area .register-form form.registration .button.btn-submit:hover {
            background-color: #00877a; }
      #Register .register-box-half.form-area .register-form .login-link {
        display: block;
        text-align: center;
        font-family: 'Karla', sans-serif;
        font-size: 16px;
        color: #44b265; }

#Login .login-box {
  display: flex; }
  #Login .login-box-half {
    flex: 0 0 50%;
    position: relative;
    height: 100vh; }
    #Login .login-box-half-centered {
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
      width: 400px; }
    #Login .login-box-half.green-area {
      background: #077d72;
      background: linear-gradient(315deg, #077d72 0%, #3fae66 100%);
      text-align: center; }
      #Login .login-box-half.green-area .login-green-area {
        background-image: url("../img/silhuetayo.png");
        background-position: 0px 0px;
        background-repeat: no-repeat;
        background-size: contain;
        height: 55%;
        width: 100%;
        position: absolute;
        transform: translate(-42%, -50%);
        top: 65%;
        left: 50%; }
      #Login .login-box-half.green-area .logo-ayo {
        margin-bottom: 50px; }
      #Login .login-box-half.green-area .login-text {
        color: #ffffff;
        font-family: 'Barlow', sans-serif;
        font-weight: 400 !important;
        margin-bottom: 30px; }
      #Login .login-box-half.green-area .login-desc {
        margin-bottom: 0px;
        font-family: 'Barlow', sans-serif;
        font-weight: 400 !important;
        font-size: 12px;
        color: #ffffff; }
    #Login .login-box-half.form-area {
      background-color: #ffffff; }
      #Login .login-box-half.form-area .login-form-title {
        font-family: 'Karla', sans-serif;
        color: #404040;
        margin-bottom: 30px; }
      #Login .login-box-half.form-area .login-form form.login-form label {
        font-family: 'Karla', sans-serif;
        font-size: 14px;
        color: #808080;
        margin-bottom: 0px; }
      #Login .login-box-half.form-area .login-form form.login-form .form-control {
        border-width: 0px 0px 1px 0px;
        border-color: #808080;
        border-radius: 0px; }
        #Login .login-box-half.form-area .login-form form.login-form .form-control:active, #Login .login-box-half.form-area .login-form form.login-form .form-control:focus {
          outline: none;
          box-shadow: none; }
      #Login .login-box-half.form-area .login-form form.login-form .button {
        margin-bottom: 20px; }
        #Login .login-box-half.form-area .login-form form.login-form .button.btn-submit {
          background-color: #44b265;
          width: 100%;
          box-shadow: none;
          border: none;
          border-radius: 5px;
          height: 40px;
          color: #ffffff;
          font-family: 'Karla', sans-serif;
          font-weight: 600;
          width: 100%; }
          #Login .login-box-half.form-area .login-form form.login-form .button.btn-submit:hover {
            background-color: #00877a; }
      #Login .login-box-half.form-area .login-form .forget-area .text-link {
        display: block;
        text-align: center;
        font-family: 'Karla', sans-serif;
        font-size: 16px;
        color: #44b265; }
      #Login .login-box-half.form-area .login-form .forget-area .divider {
        position: relative;
        font-family: 'Karla', sans-serif;
        text-align: center;
        margin: 25px 0px; }
        #Login .login-box-half.form-area .login-form .forget-area .divider .hr {
          height: 1px;
          width: 100%;
          background-color: #e6e6e6;
          display: block;
          position: absolute;
          bottom: 9px;
          z-index: -1; }
        #Login .login-box-half.form-area .login-form .forget-area .divider .or {
          display: inline-block;
          background-color: #ffffff;
          padding: 0px 10px;
          color: #808080;
          font-size: 14px; }

body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Karla', sans-serif;
  color: #404040; }

h1 {
  font-size: 36px !important;
  font-weight: 600 !important; }

h2 {
  font-size: 30px !important;
  font-weight: 600 !important; }

p {
  color: #808080; }

a {
  font-family: 'Karla', sans-serif; }

#Profile.content-area h2.page-title.profile {
  margin-bottom: 30px; }
#Profile.content-area .profile-page {
  background-color: #ffffff; }
  #Profile.content-area .profile-page ul.nav.nav-tabs {
    text-align: center;
    display: block; }
    #Profile.content-area .profile-page ul.nav.nav-tabs li.nav-item {
      display: inline-block;
      margin-bottom: 0px;
      width: 16%; }
      #Profile.content-area .profile-page ul.nav.nav-tabs li.nav-item .nav-link {
        color: #404040;
        font-family: 'Karla', sans-serif;
        font-weight: 600;
        border-width: 0px 0px 1px 0px;
        padding: 15px; }
        #Profile.content-area .profile-page ul.nav.nav-tabs li.nav-item .nav-link.active {
          border-color: #00877a; }
  #Profile.content-area .profile-page .tab-content {
    padding: 30px 20px 40px 20px; }
    #Profile.content-area .profile-page .tab-content .profile-page-password {
      width: 47%;
      margin: 0 auto; }
      #Profile.content-area .profile-page .tab-content .profile-page-password-now-title {
        font-size: 18px;
        margin-bottom: 25px; }
      #Profile.content-area .profile-page .tab-content .profile-page-password .profile-password-form-now {
        margin-bottom: 30px; }
      #Profile.content-area .profile-page .tab-content .profile-page-password label {
        font-family: 'Karla', sans-serif;
        font-size: 14px;
        color: #808080;
        margin-bottom: 0px; }
      #Profile.content-area .profile-page .tab-content .profile-page-password .form-control {
        border-radius: 0px;
        border-width: 0px 0px 1px 0px;
        box-shadow: none;
        padding: 5px 0px; }
      #Profile.content-area .profile-page .tab-content .profile-page-password .button-area .button.btn-submit {
        background-color: #44b265;
        border: none;
        color: #ffffff;
        font-family: 'Karla', sans-serif;
        font-weight: 600;
        height: 40px;
        padding: 0px 40px;
        border-radius: 5px; }
        #Profile.content-area .profile-page .tab-content .profile-page-password .button-area .button.btn-submit:hover {
          background-color: #00877a; }
      #Profile.content-area .profile-page .tab-content .profile-page-password.profile-page-rekening .info-bar-form {
        background-color: #f4f4f4;
        border: 1px solid #dddddd;
        padding: 16px;
        border-radius: 5px; }
        #Profile.content-area .profile-page .tab-content .profile-page-password.profile-page-rekening .info-bar-form p {
          margin-bottom: 5px; }
          #Profile.content-area .profile-page .tab-content .profile-page-password.profile-page-rekening .info-bar-form p.user-name {
            margin-bottom: 0px;
            font-weight: 600;
            color: #404040; }

body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Karla', sans-serif;
  color: #404040; }

h1 {
  font-size: 36px !important;
  font-weight: 600 !important; }

h2 {
  font-size: 30px !important;
  font-weight: 600 !important; }

p {
  color: #808080; }

a {
  font-family: 'Karla', sans-serif; }

#Afiliasi.content-area h2.afiliasi {
  font-family: 'Karla', sans-serif;
  font-size: 30px !important; }
#Afiliasi.content-area .afiliasi-page {
  padding: 60px;
  background-color: #ffffff; }
  #Afiliasi.content-area .afiliasi-page-title {
    margin-bottom: 20px; }
    #Afiliasi.content-area .afiliasi-page-title h2 {
      font-size: 22px !important;
      margin-bottom: 0px; }
  #Afiliasi.content-area .afiliasi-page-stats {
    margin-bottom: 30px; }
    #Afiliasi.content-area .afiliasi-page-stats .afiliasi-box {
      background-color: #ffffff;
      border: 1px solid #e9e9e9;
      padding: 20px; }
      #Afiliasi.content-area .afiliasi-page-stats .afiliasi-box .click-box {
        text-align: right; }
        #Afiliasi.content-area .afiliasi-page-stats .afiliasi-box .click-box p {
          margin-bottom: 0px;
          font-family: 'Karla', sans-serif; }
          #Afiliasi.content-area .afiliasi-page-stats .afiliasi-box .click-box p.number {
            font-weight: 600;
            color: #404040;
            font-size: 30px;
            line-height: 30px; }
          #Afiliasi.content-area .afiliasi-page-stats .afiliasi-box .click-box p.text {
            font-size: 14px; }
  #Afiliasi.content-area .afiliasi-page-refer {
    position: relative;
    margin-bottom: 30px; }
    #Afiliasi.content-area .afiliasi-page-refer-input {
      padding: 16px 20px;
      border: 1px solid #d6d6d6;
      background-color: #f4f4f4; }
      #Afiliasi.content-area .afiliasi-page-refer-input p {
        margin-bottom: 0px;
        font-size: 22px;
        font-weight: 600;
        color: #404040; }
    #Afiliasi.content-area .afiliasi-page-refer-copy {
      position: absolute;
      right: 0px;
      top: 0px;
      display: inline-block;
      width: 60px;
      height: 100%;
      text-align: center;
      line-height: 67px;
      background-color: #ffffff;
      border: 1px solid #d6d6d6; }
  #Afiliasi.content-area .afiliasi-page-leads {
    margin-bottom: 30px; }
    #Afiliasi.content-area .afiliasi-page-leads-box {
      padding: 40px;
      border: 1px solid #d6d6d6;
      background-color: #f4f4f4; }
      #Afiliasi.content-area .afiliasi-page-leads-box p {
        margin-bottom: 0px;
        text-align: right; }
        #Afiliasi.content-area .afiliasi-page-leads-box p.info {
          font-weight: 600;
          font-size: 28px;
          line-height: 28px;
          color: #404040; }
        #Afiliasi.content-area .afiliasi-page-leads-box p.desc {
          color: #808080; }
  #Afiliasi.content-area .afiliasi-page-information .blog-update {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 20px;
    margin-bottom: 20px; }
    #Afiliasi.content-area .afiliasi-page-information .blog-update p {
      margin-bottom: 0px;
      font-size: 16px; }
      #Afiliasi.content-area .afiliasi-page-information .blog-update p.title {
        font-weight: 600;
        margin-bottom: 8px;
        color: #404040; }
    #Afiliasi.content-area .afiliasi-page-information .blog-update a {
      color: #44b265;
      font-weight: 600;
      font-size: 14px; }
      #Afiliasi.content-area .afiliasi-page-information .blog-update a:hover {
        text-decoration: none;
        color: #ffcc00; }
  #Afiliasi.content-area .afiliasi-page-information .last .blog-update {
    border-bottom: none; }

#Komisi .komisi-page {
  padding: 60px;
  background-color: #ffffff; }
  #Komisi .komisi-page .komisi-box {
    display: flex;
    margin-bottom: 30px; }
    #Komisi .komisi-page .komisi-box-half {
      flex: 0 0 50%;
      border: 1px solid #d6d6d6;
      padding: 30px; }
      #Komisi .komisi-page .komisi-box-half p {
        margin-bottom: 0px;
        color: #404040; }
        #Komisi .komisi-page .komisi-box-half p.title {
          margin-bottom: 5px;
          font-size: 18px;
          font-weight: 600; }
        #Komisi .komisi-page .komisi-box-half p.price {
          font-size: 30px;
          font-weight: 600;
          line-height: 36px; }
  #Komisi .komisi-page .komisi-action .title p {
    margin-bottom: 20px;
    font-size: 26px;
    color: #404040;
    font-weight: 600;
    line-height: 26px; }
  #Komisi .komisi-page .komisi-action .button-action {
    margin-bottom: 10px; }
    #Komisi .komisi-page .komisi-action .button-action .button {
      padding: 10px 40px;
      background-color: #44b265;
      color: #ffffff;
      font-weight: 600;
      border-radius: 5px;
      border: none;
      box-shadow: none;
      font-size: 20px; }
      #Komisi .komisi-page .komisi-action .button-action .button:hover {
        background-color: #00877a; }
      #Komisi .komisi-page .komisi-action .button-action .button i {
        margin-right: 15px;
        vertical-align: middle; }
  #Komisi .komisi-page .komisi-action .notify {
    display: flex; }
    #Komisi .komisi-page .komisi-action .notify i {
      margin-right: 15px; }
    #Komisi .komisi-page .komisi-action .notify p {
      margin-bottom: 0px;
      font-style: italic; }

body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Karla', sans-serif;
  color: #404040; }

h1 {
  font-size: 36px !important;
  font-weight: 600 !important; }

h2 {
  font-size: 30px !important;
  font-weight: 600 !important; }

p {
  color: #808080; }

a {
  font-family: 'Karla', sans-serif; }

#Training.content-area h2.page-title.training {
  margin-bottom: 30px; }
#Training.content-area .training-page {
  background-color: #ffffff; }
  #Training.content-area .training-page ul.nav.nav-tabs {
    text-align: center;
    display: block; }
    #Training.content-area .training-page ul.nav.nav-tabs li.nav-item {
      display: inline-block;
      margin-bottom: 0px;
      width: 16%; }
      #Training.content-area .training-page ul.nav.nav-tabs li.nav-item .nav-link {
        color: #404040;
        font-family: 'Karla', sans-serif;
        font-weight: 600;
        border-width: 0px 0px 1px 0px;
        padding: 15px; }
        #Training.content-area .training-page ul.nav.nav-tabs li.nav-item .nav-link.active {
          border-color: #00877a; }
  #Training.content-area .training-page .tab-content {
    padding: 30px 20px 40px 20px; }
    #Training.content-area .training-page .tab-content .training-tab-panel.training-tab-video .box-video-desc {
      padding: 10px 20px 20px; }
      #Training.content-area .training-page .tab-content .training-tab-panel.training-tab-video .box-video-desc p {
        margin-bottom: 0px;
        font-size: 16px; }
        #Training.content-area .training-page .tab-content .training-tab-panel.training-tab-video .box-video-desc p.title {
          font-weight: 600;
          color: #404040;
          margin-bottom: 5px; }
    #Training.content-area .training-page .tab-content .training-tab-panel.training-tab-video .box-video .button {
      background: #44b265;
      color: #ffffff;
      font-size: 16px;
      font-weight: 600;
      display: inline-block;
      width: 120px;
      text-align: center;
      padding: 8px 10px;
      border-radius: 4px;
      margin-top: 10px; }
      #Training.content-area .training-page .tab-content .training-tab-panel.training-tab-video .box-video .button:hover {
        text-decoration: none;
        background-color: #00877a; }
    #Training.content-area .training-page .tab-content .training-tab-panel.training-tab-tools {
      padding: 20px 40px; }
      #Training.content-area .training-page .tab-content .training-tab-panel.training-tab-tools .title p {
        margin-bottom: 20px;
        color: #404040;
        font-weight: 600;
        font-size: 20px; }
    #Training.content-area .training-page .tab-content .training-tab-panel .training-tab-tools-download .box-download {
      background-color: #f4f4f4;
      border: 1px solid #dfdfdf;
      padding: 25px;
      border-radius: 5px;
      margin-bottom: 20px; }
      #Training.content-area .training-page .tab-content .training-tab-panel .training-tab-tools-download .box-download-desc {
        margin-bottom: 0px; }
      #Training.content-area .training-page .tab-content .training-tab-panel .training-tab-tools-download .box-download .button {
        display: block;
        text-align: center; }
        #Training.content-area .training-page .tab-content .training-tab-panel .training-tab-tools-download .box-download .button.btn-download {
          background-color: #44b265;
          color: #ffffff;
          border-radius: 5px;
          padding: 8px 10px;
          font-weight: 600; }
          #Training.content-area .training-page .tab-content .training-tab-panel .training-tab-tools-download .box-download .button.btn-download:hover {
            background-color: #00877a;
            text-decoration: none; }
    #Training.content-area .training-page .tab-content .training-tab-panel.training-tab-rekomendasi .training-box {
      border: 1px solid #dfdfdf;
      padding: 20px;
      background-color: #ffffff; }
      #Training.content-area .training-page .tab-content .training-tab-panel.training-tab-rekomendasi .training-box-logo {
        height: 80px;
        text-align: center;
        margin-bottom: 10px; }
        #Training.content-area .training-page .tab-content .training-tab-panel.training-tab-rekomendasi .training-box-logo img {
          height: 100%; }
      #Training.content-area .training-page .tab-content .training-tab-panel.training-tab-rekomendasi .training-box-desc p {
        margin-bottom: 0px;
        font-size: 16px;
        line-height: 22px; }
        #Training.content-area .training-page .tab-content .training-tab-panel.training-tab-rekomendasi .training-box-desc p.title {
          margin-bottom: 10px;
          font-weight: 600;
          color: #404040; }

#Update .update-page {
  background-color: #ffffff; }
  #Update .update-page-header {
    padding: 15px 60px;
    border-bottom: 1px solid #dfdfdf; }
    #Update .update-page-header .header-title {
      margin-bottom: 0px; }
      #Update .update-page-header .header-title .member-type {
        font-weight: 600; }
  #Update .update-page-content {
    padding: 60px; }
    #Update .update-page-content-top {
      padding-bottom: 60px;
      border-bottom: 1px solid #dfdfdf;
      margin-bottom: 60px; }
      #Update .update-page-content-top .member-content .manage {
        font-weight: 600; }
      #Update .update-page-content-top .change-text {
        text-decoration: none;
        color: #44b265; }
      #Update .update-page-content-top .button.btn-edit {
        width: 90%;
        color: #ffffff;
        font-weight: 600;
        height: 45px;
        border-radius: 5px;
        background-color: #44b265;
        display: inline-block;
        text-align: center;
        padding: 11px; }
        #Update .update-page-content-top .button.btn-edit:hover {
          background-color: #00877a; }
    #Update .update-page-content-bottom .member-title {
      font-weight: 600;
      margin-bottom: 10px;
      font-size: 16px; }
    #Update .update-page-content-bottom .update-cta .button.btn-upgrade {
      display: inline-block;
      text-decoration: none;
      text-align: center;
      font-weight: 600;
      color: #ffffff;
      border-radius: 5px;
      padding: 10px;
      width: 40%;
      background-color: #44b265;
      font-size: 18px; }
      #Update .update-page-content-bottom .update-cta .button.btn-upgrade .icon {
        margin-right: 15px;
        vertical-align: middle; }
      #Update .update-page-content-bottom .update-cta .button.btn-upgrade:hover {
        background-color: #00877a; }

#Support .support-page {
  background-color: #ffffff; }
  #Support .support-page-header {
    padding: 15px 0px;
    border-bottom: 1px solid #dfdfdf; }
    #Support .support-page-header .header-title {
      font-weight: 600;
      width: 50%;
      margin: 0 auto; }
  #Support .support-page-content {
    width: 50%;
    margin: 0 auto;
    padding: 40px 0px; }
    #Support .support-page-content .support-form label {
      font-size: 12px;
      font-family: 'Karla', sans-serif;
      color: #808080; }
    #Support .support-page-content .support-form .form-control {
      border-radius: 0px;
      border-width: 0px 0px 1px 0px;
      border-color: #dfdfdf;
      font-size: 14px;
      color: #404040;
      box-shadow: none;
      padding: 5px 0px; }
      #Support .support-page-content .support-form .form-control:focus {
        outline: none; }
    #Support .support-page-content .support-form .button-cta .button {
      width: 20%;
      background-color: #44b265;
      color: #ffffff;
      border: none;
      height: 40px;
      border-radius: 5px;
      font-weight: 600;
      font-family: 'Karla', sans-serif;
      font-size: 16px; }
      #Support .support-page-content .support-form .button-cta .button:hover {
        background-color: #00877a; }

#Shop .shop-page {
  background-color: #ffffff; }
  #Shop .shop-page-header {
    border-bottom: 1px solid #dfdfdf;
    padding: 15px 50px; }
    #Shop .shop-page-header .category {
      display: flex;
      align-items: center; }
      #Shop .shop-page-header .category .title {
        flex: 0 0 30%;
        margin-bottom: 0px;
        font-weight: 600;
        color: #404040; }
      #Shop .shop-page-header .category .form-control {
        width: 40%;
        border-radius: 0px;
        border: 1px solid #dfdfdf;
        font-size: 14px;
        font-family: 'Karla', sans-serif; }
    #Shop .shop-page-header .cart-box {
      text-align: right;
      display: flex;
      justify-content: flex-end; }
      #Shop .shop-page-header .cart-box .amount {
        font-family: 'Karla', sans-serif;
        font-size: 16px;
        color: #404040;
        font-weight: 600;
        margin-right: 20px; }
      #Shop .shop-page-header .cart-box .cart {
        display: flex;
        position: relative; }
        #Shop .shop-page-header .cart-box .cart i.icon-cart {
          background-image: url("../img/cart.png");
          background-repeat: no-repeat;
          width: 35px;
          height: 24px;
          background-size: contain;
          display: block; }
        #Shop .shop-page-header .cart-box .cart .counter {
          color: #ffffff;
          font-size: 9px;
          display: inline-block;
          border-radius: 50%;
          line-height: 14px;
          text-align: center;
          background-color: #ef2753;
          height: 14px;
          width: 14px;
          position: absolute;
          right: 0px;
          top: -5px; }
  #Shop .shop-page-content-box {
    display: flex;
    align-items: center; }
    #Shop .shop-page-content-box .product {
      flex: 0 0 25%;
      border-bottom: 1px solid #dfdfdf;
      border-right: 1px solid #dfdfdf;
      position: relative; }
      #Shop .shop-page-content-box .product:last-child {
        border-right: none; }
      #Shop .shop-page-content-box .product .img-product {
        margin-bottom: 10px; }
      #Shop .shop-page-content-box .product .desc-product {
        padding: 0px 45px;
        margin-bottom: 15px; }
        #Shop .shop-page-content-box .product .desc-product p {
          margin-bottom: 0px; }
          #Shop .shop-page-content-box .product .desc-product p.title-product {
            margin-bottom: 10px;
            font-weight: 600;
            color: #404040; }
          #Shop .shop-page-content-box .product .desc-product p.pricing {
            color: #44b265;
            font-weight: 600; }
      #Shop .shop-page-content-box .product .button-buy {
        display: none; }
      #Shop .shop-page-content-box .product:hover .button-buy {
        display: block; }
        #Shop .shop-page-content-box .product:hover .button-buy a {
          position: absolute;
          background-color: #44b265;
          top: 50%;
          left: 20%;
          color: #ffffff;
          text-transform: uppercase;
          font-size: 14px;
          font-family: 'Karla', sans-serif;
          display: block;
          width: 60%;
          border-radius: 5px;
          padding: 10px;
          font-weight: 600;
          text-decoration: none; }
          #Shop .shop-page-content-box .product:hover .button-buy a:hover {
            background-color: #00877a; }
  #Shop .shop-page-footer {
    padding: 30px 50px; }
    #Shop .shop-page-footer .pagination {
      text-align: right; }
      #Shop .shop-page-footer .pagination ul.pagination-list {
        display: block;
        text-align: right;
        margin-bottom: 0px;
        list-style: none;
        padding-left: 0px;
        width: 100%; }
      #Shop .shop-page-footer .pagination ul li {
        display: inline-block; }
        #Shop .shop-page-footer .pagination ul li a {
          display: inline-block;
          padding: 0px 10px;
          color: #404040;
          text-decoration: none;
          font-family: 'Karla', sans-serif;
          font-size: 15px;
          font-weight: 600; }
          #Shop .shop-page-footer .pagination ul li a.active {
            color: #44b265; }
          #Shop .shop-page-footer .pagination ul li a:hover {
            color: #44b265; }

#DetailProduct .detail-page {
  background-color: #ffffff; }
  #DetailProduct .detail-page-header {
    border-bottom: 1px solid #dfdfdf;
    padding: 15px 50px; }
    #DetailProduct .detail-page-header .category {
      display: flex;
      align-items: center; }
      #DetailProduct .detail-page-header .category .title {
        flex: 0 0 30%;
        margin-bottom: 0px;
        font-weight: 600;
        color: #404040; }
      #DetailProduct .detail-page-header .category .form-control {
        width: 40%;
        border-radius: 0px;
        border: 1px solid #dfdfdf;
        font-size: 14px;
        font-family: 'Karla', sans-serif; }
    #DetailProduct .detail-page-header .cart-box {
      text-align: right;
      display: flex;
      justify-content: flex-end; }
      #DetailProduct .detail-page-header .cart-box .amount {
        font-family: 'Karla', sans-serif;
        font-size: 16px;
        color: #404040;
        font-weight: 600;
        margin-right: 20px; }
      #DetailProduct .detail-page-header .cart-box .cart {
        display: flex;
        position: relative; }
        #DetailProduct .detail-page-header .cart-box .cart i.icon-cart {
          background-image: url("../img/cart.png");
          background-repeat: no-repeat;
          width: 35px;
          height: 24px;
          background-size: contain;
          display: block; }
        #DetailProduct .detail-page-header .cart-box .cart .counter {
          color: #ffffff;
          font-size: 9px;
          display: inline-block;
          border-radius: 50%;
          line-height: 14px;
          text-align: center;
          background-color: #ef2753;
          height: 14px;
          width: 14px;
          position: absolute;
          right: 0px;
          top: -5px; }
  #DetailProduct .detail-page-content {
    padding: 20px 50px 50px; }
    #DetailProduct .detail-page-content .product-area {
      text-align: center; }
      #DetailProduct .detail-page-content .product-area .image-product {
        text-align: center; }
      #DetailProduct .detail-page-content .product-area .button-buy a.btn-buy {
        display: inline-block;
        color: #ffffff;
        background-color: #44b265;
        border-radius: 5px;
        padding: 10px 20px;
        font-weight: 600;
        font-family: 'Karla',sans-serif;
        margin: 10px 0px 0px; }
        #DetailProduct .detail-page-content .product-area .button-buy a.btn-buy:hover {
          background-color: #00877a;
          text-decoration: none; }
    #DetailProduct .detail-page-content .description-product .table-repsonsive table tbody tr td {
      border-top: 0px;
      border-bottom: 1px solid #dfdfdf;
      font-family: 'Karla', sans-serif;
      font-size: 16px;
      padding: 15px 0px; }
      #DetailProduct .detail-page-content .description-product .table-repsonsive table tbody tr td.title {
        font-weight: 600;
        color: #404040;
        width: 25%; }
      #DetailProduct .detail-page-content .description-product .table-repsonsive table tbody tr td.info {
        color: #808080; }

#Payment .payment-page {
  background-color: #ffffff;
  margin-bottom: 20px; }
  #Payment .payment-page-header {
    border-bottom: 1px solid #dfdfdf;
    padding: 15px 50px; }
    #Payment .payment-page-header p.title {
      margin-bottom: 0px;
      color: #404040;
      font-size: 18px;
      font-weight: 600; }
  #Payment .payment-page-content {
    padding: 20px 50px 50px; }
    #Payment .payment-page-content.table {
      padding: 40px 0px 0px; }
      #Payment .payment-page-content.table table {
        margin-bottom: 0px; }
        #Payment .payment-page-content.table table thead tr th {
          border-top: 0px;
          border-bottom: 1px solid #dfdfdf; }
          #Payment .payment-page-content.table table thead tr th:first-child {
            padding: 15px 15px 15px 50px; }
          #Payment .payment-page-content.table table thead tr th:last-child {
            padding: 15px 50px 15px 15px; }
        #Payment .payment-page-content.table table tbody tr td {
          border-top: 0px;
          border-bottom: 1px solid #dfdfdf;
          padding: 20px;
          vertical-align: middle;
          font-family: 'Karla', sans-serif; }
          #Payment .payment-page-content.table table tbody tr td:first-child {
            padding: 20px 20px 20px 50px; }
          #Payment .payment-page-content.table table tbody tr td:last-child {
            padding: 20px 50px 20px 20px; }
          #Payment .payment-page-content.table table tbody tr td .product-item {
            display: inline-block;
            width: 70px;
            border: 1px solid #dfdfdf; }
          #Payment .payment-page-content.table table tbody tr td .form-control {
            width: 70%;
            border-radius: 0px; }
          #Payment .payment-page-content.table table tbody tr td .button-action a.btn-act {
            color: #ffffff;
            background-color: #44b265;
            padding: 10px 20px;
            border-radius: 5px;
            display: block;
            text-align: center; }
            #Payment .payment-page-content.table table tbody tr td .button-action a.btn-act:hover {
              background-color: #00877a; }
        #Payment .payment-page-content.table table tfoot tr td {
          font-weight: 600;
          font-family: 'Karla', sans-serif;
          vertical-align: middle;
          padding: 20px; }
          #Payment .payment-page-content.table table tfoot tr td:first-child {
            padding: 20px 20px 20px 50px; }
    #Payment .payment-page-content .form-dropship {
      font-family: 'Karla', sans-serif; }
      #Payment .payment-page-content .form-dropship .form-entry-data label {
        font-size: 14px;
        margin-bottom: 0px; }
        #Payment .payment-page-content .form-dropship .form-entry-data label.custom-control-label {
          font-size: 16px;
          margin-bottom: 15px; }
      #Payment .payment-page-content .form-dropship .form-entry-data .form-control {
        border-radius: 0px;
        border-width: 0px 0px 1px 0px;
        border-color: #dfdfdf;
        padding: 0px;
        height: 30px;
        box-shadow: none; }
      #Payment .payment-page-content .form-dropship .form-entry-data select.form-control {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px; }
    #Payment .payment-page-content .form-dropship {
      font-family: 'Karla', sans-serif; }
      #Payment .payment-page-content .form-dropship label {
        font-size: 14px;
        margin-bottom: 0px; }
      #Payment .payment-page-content .form-dropship .form-control {
        border-width: 0px 0px 1px 0px;
        box-shadow: none;
        padding: 0px;
        border-radius: 0px;
        height: 30px; }
    #Payment .payment-page-content.summary {
      padding: 40px 0px; }
      #Payment .payment-page-content.summary .summary-table table tr td {
        border-top: 0px;
        border-bottom: 1px solid #dfdfdf;
        padding: 15px 50px;
        font-family: 'Karla', sans-serif;
        font-weight: 600; }
      #Payment .payment-page-content.summary .button-confirm a.btn-confirm {
        margin-top: 30px;
        display: inline-block;
        text-decoration: none;
        font-weight: 600;
        color: #ffffff;
        padding: 12px 40px;
        background-color: #44b265;
        border-radius: 5px; }
        #Payment .payment-page-content.summary .button-confirm a.btn-confirm:hover {
          background-color: #00877a; }

/*# sourceMappingURL=style.css.map */
